<div class="jumbotron center">
    <h1>Welcome To My App</h1>
    <p>This Will Be The Best App Ever!</p>
    <p>Please stay tuned as my new app develops.  It will be <strong>mind </strong>blowing!</p>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-default'%>
    <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary'%>
    
</div>